{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% block title %} M3 | Checkout {% endblock %}
{% block content %}
    <section class="section-content padding-y bg">
        <div class="container">
            <div class="row">
                <main class="col-md-8">
                    <article class="card mb-4 shadow-sm mb-5 bg-white rounded">
                        <div class="card-body">
                            <h4 class="card-title mb-4">My Addresses</h4>
                            <div class="row">
                                {% for address in addresses %}
                                    <div class="col-12 col-md-12 col-xl-6">
                                        <figure class="itemside  mb-4 card ">
                                            <div class="card-body">
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <div class="text-center align-items-center">
                                                        <h5 class="">{{ address.full_name }}</h5>
                                                    </div>
                                                    <div>
                                                        <button class="btn btn-sm btn-outline-primary">{{ address.type }}</button>
                                                    </div>
                                                </div>
                                                <p class="small-gray-text">{{ address.phone }}</p>
                                                <p class="small-gray-text">{{ address.email }}</p>
                                                <p class="small-gray-text">{{ address.house_no }}</p>
                                                <p class="small-gray-text">{{ address.area }}</p>
                                                <p class="small-gray-text">{{ address.landmark }}</p>
                                                <p class="small-gray-text">{{ address.town }}</p>
                                                <p class="small-gray-text">{{ address.state }}</p>
                                                <p class="small-gray-text">{{ address.pin }}</p>
                                            </div>
                                        </figure>
                                    </div>
                                {% empty %}
                                    <p>No, saved addresses</p>
                                {% endfor %}
                            </div>
                        </div>
                    </article>


                    <article class="card mb-4">
                        <div class="card-body">
                            <h4 class="card-title mb-4">Billing info</h4>
                            <form action="{% url 'order:place-order' %}" method="post">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="form-group col-sm-6">
                                        {{ from.full_name | as_crispy_field }}
                                    </div>
                                    <div class="form-group col-sm-6">
                                        {{ from.phone | as_crispy_field }}
                                    </div>
                                    <div class="form-group col-sm-12">
                                        {{ from.email | as_crispy_field }}
                                    </div>
                                    <div class="form-group col-sm-6">
                                        {{ from.house_no |  as_crispy_field }}
                                    </div>
                                    <div class="form-group col-sm-6">
                                        {{ from.area |  as_crispy_field }}
                                    </div>
                                    <div class="form-group col-sm-12">
                                        {{ from.landmark |  as_crispy_field }}
                                    </div>
                                    <div class="form-group col-sm-6">
                                        {{ from.town |  as_crispy_field }}
                                    </div>
                                    <div class="form-group col-sm-6">
                                        {{ from.state |  as_crispy_field }}
                                    </div>
                                    <div class="form-group col-sm-12">
                                        {{ from.pin |  as_crispy_field }}
                                    </div>
                                </div>
                        </div>
                    </article>
                </main>

                <aside class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <dl class="dlist-align">
                                <dt>Total price:</dt>
                                <dd class="text-right">₹{{ total }}</dd>
                            </dl>
                            <dl class="dlist-align">
                                <dt>Tax:</dt>
                                <dd class="text-right">₹{{ tax }}</dd>
                            </dl>
                            <dl class="dlist-align">
                                <dt>Total:</dt>
                                <dd class="text-right text-dark b"><strong>₹{{ grand_total }}</strong></dd>
                            </dl>
                            <hr>
                            <p class="text-center mb-3">
                                <img src="{% static 'images/payments.png' %}" height="26">
                            </p>
                            <button class="btn btn-primary btn-block" type="submit"> Place Order</button>
                            <a href="#" class="btn btn-outline-primary btn-block"> Continue shopping </a>
                            </form>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </section>
{% endblock %}
