{% extends 'adminPanel/base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block tittle %} Add Brand {% endblock %}
{% block add-brand %} active {% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form action="{% url 'admin-panel:add-brand' %}" enctype="multipart/form-data" method="post" class="card mt-5 mb-5 p-4" id="add-brand">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div class="text-center">
                        <input type="submit" class="btn btn-primary w-50" value="Add">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        $(document).ready(function () {
            $("#add-brand").validate({
                rules: {
                    name: {
                        required: true,
                    },
                    log: {
                        required: true,
                    },
                },
            })
        })
    </script>
{% endblock %}