{% extends 'adminPanel/base.html' %}
{% block coupons %} active {% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 mt-5">
                <div class="card mt-5">
                    <div class="card-body">
                        <h3 class="card-title">Coupons</h3>
                        <table class="table table-striped table-hover" id="orders-history">
                            <thead>
                            <tr>
                                <th scope="col">Coupon name</th>
                                <th scope="col">Coupon code</th>
                                <th scope="col">Discount</th>
                                <th scope="col">Limit</th>
                                <th scope="col">Used</th>
                                <th scope="col">Valid from</th>
                                <th scope="col">Valid to</th>
                                <th scope="col">Status</th>
                                <th scope="col">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for coupon in all_coupons %}
                                <tr id="">
                                    <td>{{ coupon.coupon_name | capfirst }}</td>
                                    <td>{{ coupon.coupon_code }}</td>
                                    <td>{{ coupon.discount }}%</td>
                                    <td>{{ coupon.limit }}</td>
                                    <td>{{ coupon.used }}</td>
                                    <td>{{ coupon.valid_from }}</td>
                                    <td>{{ coupon.valid_to }}</td>
                                    <td>{{ coupon.is_active }}</td>
                                    <td>
                                        <a href="#"><span
                                                class="material-icons-outlined text-warning">edit</span></a>
                                        <a href="#"><span class="material-icons-outlined text-danger">delete</span></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}