{% extends 'adminPanel/base.html' %}
{% block offer %} active {% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="mb-4 mt-4">
                    <h3>Offers</h3>
                </div>
                <div class="docs-example">
                    <div class="card">
                        <ul class="nav nav-line-bottom nav-example mb-3" id="pills-tabTwo" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="pills-accordions-design-tab" data-bs-toggle="pill"
                                   href="#pills-accordions-design" role="tab" aria-controls="pills-accordions-design"
                                   aria-selected="true">Variant</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-accordions-html-tab" data-bs-toggle="pill"
                                   href="#pills-accordions-html" role="tab" aria-controls="pills-accordions-html"
                                   aria-selected="false">Product</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-accordions-brand-tab" data-bs-toggle="pill"
                                   href="#pills-accordions-brand" role="tab" aria-controls="pills-accordions-brand"
                                   aria-selected="false">Brand</a>
                            </li>
                        </ul>
                        <div class="tab-content p-4" id="pills-tabTwoContent">

                            <!-- Variant Offers-->
                            <div class="tab-pane tab-example-design fade show active" id="pills-accordions-design"
                                 role="tabpanel" aria-labelledby="pills-accordions-design-tab">
                                <div class="table-responsive">
                                    <a href="{% url 'admin-panel:add-variant-offer' %}"
                                       class="btn btn-sm btn-primary mb-4">Add new offer</a>
                                    <table class="table table-striped table-hover" id="variant-offer">
                                        <thead>
                                        <tr>
                                            <th scope="col">Variant</th>
                                            <th scope="col">Offer</th>
                                            <th scope="col">Status</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for variant_offer in variant_offers %}
                                            <tr id="{{ variant_offer.id }}">
                                                <td>{{ variant_offer.get_variant | capfirst }}</td>
                                                <td class="offer">{{ variant_offer.discount_offer }}% Off</td>
                                                <td>
                                                    {% if variant_offer.is_active %}
                                                        Active
                                                    {% else %}
                                                        <span class="text-warning fw-bold">Inactive</span>
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    <a href="{% url 'admin-panel:update-variant-offer' variant_offer.id %}"><span
                                                            class="material-icons-outlined text-warning">edit</span></a>
                                                    <a href="#"><span
                                                            class="material-icons-outlined text-danger"
                                                            onclick="deleteOffer(event, '{% url 'admin-panel:delete-variant-offer' variant_offer.id %}', '{{ variant_offer.id }}')">delete</span></a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <!-- Product offers -->
                            <div class="tab-pane tab-example-html fade " id="pills-accordions-html" role="tabpanel"
                                 aria-labelledby="pills-accordions-html-tab">
                                <div class="table-responsive">
                                    <a href="{% url 'admin-panel:add-product-offer' %}" class="btn btn-sm btn-primary mb-4">Add new offer</a>
                                    <table class="table table-striped table-hover" id="product-offer">
                                        <thead>
                                        <tr>
                                            <th scope="col">Product</th>
                                            <th scope="col">Offer</th>
                                            <th scope="col">Status</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for product_offer in product_offers %}
                                            <tr id="{{ product_offer.id }}">
                                                <td>{{ product_offer.product.name | capfirst }}</td>
                                                <td class="offer">{{ product_offer.discount_offer }}% Off</td>
                                                <td>
                                                    {% if product_offer.is_active %}
                                                        Active
                                                    {% else %}
                                                        <span class="text-warning fw-bold">Inactive</span>
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    <a href="{% url 'admin-panel:update-product-offer' product_offer.id %}"><span
                                                            class="material-icons-outlined text-warning">edit</span></a>
                                                    <a href="#"><span
                                                            class="material-icons-outlined text-danger"
                                                            onclick="deleteOffer(event, '{% url 'admin-panel:delete-product-offer' product_offer.id %}', '{{ product_offer.id }}')">delete</span></a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <!-- Brand offers -->
                            <div class="tab-pane fade tab-example-design" id="pills-accordions-brand" role="tabpanel"
                                 aria-labelledby="pills-accordions-brand-tab">
                                <div class="table-responsive">
                                    <a href="{% url 'admin-panel:add-brand-offer' %}" class="btn btn-sm btn-primary mb-4">Add new offer</a>
                                    <table class="table table-striped table-hover" id="brand-offer">
                                        <thead>
                                        <tr>
                                            <th scope="col">Brand</th>
                                            <th scope="col">Offer</th>
                                            <th scope="col">Status</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for brand_offer in brand_offers %}
                                            <tr id="{{ brand_offer.id }}">
                                                <td>{{ brand_offer.brand.name }}</td>
                                                <td class="offer">{{ brand_offer.discount_offer }}% Off</td>
                                                <td>
                                                    {% if brand_offer.is_active %}
                                                        Active
                                                    {% else %}
                                                        <span class="text-warning fw-bold">Inactive</span>
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    <a href="{% url 'admin-panel:update-brand-offer' brand_offer.id %}"><span
                                                            class="material-icons-outlined text-warning">edit</span></a>
                                                    <a href=""><span
                                                            class="material-icons-outlined text-danger"
                                                            onclick="deleteOffer(event, '{% url 'admin-panel:delete-brand-offer' brand_offer.id %}', '{{ brand_offer.id }}')">delete</span></a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        // Data table
        $(document).ready(function () {
            $('#variant-offer').DataTable();
        });

        $(document).ready(function () {
            $('#product-offer').DataTable();
        });

        $(document).ready(function () {
            $('#brand-offer').DataTable();
        });

        function deleteOffer(e, id, offer_id) {
            let url = id
            e.preventDefault()
            swal({
                title: "Are you sure?",
                text: "Once deleted, you will not be able to recover",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            }).then((willDelete) => {
                if (willDelete) {
                    swal("Successfully deleted", {
                        icon: "success",
                    }).then(function () {
                        $.ajax({
                            type: 'POST',
                            url: url,
                            data: {
                                csrfmiddlewaretoken: csrftoken,
                            },
                            dataType: 'json',
                            success: function (data) {
                                if (data.message === "success") {
                                    document.getElementById(offer_id).style.display = 'none';
                                }
                            }
                        })
                    })
                }
            });
        }


    </script>
{% endblock %}