{% extends 'adminPanel/base.html' %}
{% block tittle %} Product list {% endblock %}
{% block product-list %} active {% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row mt-5">
            {% for product in products %}
                <div class="col-6 col-md-4 mb-3 col-xl-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title d-flex justify-content-between">
                                <div class="card-title"><h3>{{ product.name }}</h3></div>
                                <div>
                                    <a href="#"><span
                                            class="material-icons-outlined text-warning">edit</span></a>
                                    <a href="#"><span
                                            class="material-icons-outlined text-danger"
                                            onclick="deleteProduct(event, '{% url 'admin-panel:delete-product' product.id %}')">delete</span></a>
                                </div>
                            </div>
                            <div class="text-center">
                                <h5>{{ product.get_count }}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-12 mt-5">
                <div class="card mt-5">
                    <div class="card-body">
                        <h3 class="card-title">Product list</h3>
                        <table class="table table-striped table-hover" id="products-list">
                            <thead>
                            <tr>
                                <th scope="col">Sl.No</th>
                                <th scope="col">Name</th>
                                <th scope="col">Brand</th>
                                <th scope="col">Variant</th>
                                <th scope="col">Price</th>
                                <th scope="col">Stock</th>
                                <th scope="col">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for variant in variants %}
                                <tr>
                                    <th scope="row">{{ forloop.counter }}</th>
                                    <td>
                                        <div class="d-flex justify-content-start">
                                            <div style="width: 2.5em">
                                                <img src="{{ variant.image1.url }}" class="img w-100" alt="" srcset="">
                                            </div>
                                            <div class="ms-2">
                                                {{ variant.product.name | capfirst }}
                                            </div>
                                        </div>
                                    </td>
                                    <td>{{ variant.product.brand | capfirst }}</td>
                                    <td>{{ variant.ram }}, {{ variant.storage }}, {{ variant.color }}</td>
                                    <td>{{ variant.price }}</td>
                                    <td>{{ variant.stock }}</td>
                                    <td>
                                        <a href="#"><span
                                                class="material-icons-outlined text-primary">visibility</span></a>
                                        <a href="{% url 'admin-panel:edit-variant' variant.id %}"><span
                                                class="material-icons-outlined text-warning">edit</span></a>
                                        <a href="#"><span
                                                class="material-icons-outlined text-danger"
                                                onclick="deleteVariant((event), '{% url 'admin-panel:delete-variant' variant.id %}')"
                                                id="pp">delete</span></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        // Data table
        $(document).ready(function () {
            $('#products-list').DataTable();
        });


        function deleteProduct(e, id) {
            // Deleting product
            let url = id
            e.preventDefault()
            console.log('delete product')
            swal({
                title: "Are you sure?",
                text: "Once deleted, you will not be able to recover",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            }).then((willDelete) => {
                if (willDelete) {
                    swal("Successfully deleted", {
                        icon: "success",
                    }).then(function () {
                        $.ajax({
                            type: 'POST',
                            url: url,
                            data: {
                                csrfmiddlewaretoken: csrftoken,
                            },
                            dataType: 'json',
                            success: function (data) {
                                if (data.message === "success") {
                                    window.location.replace("{% url 'admin-panel:products' %}");
                                }
                            }
                        })
                    })
                } else {
                    swal("Your imaginary file is safe!");
                }
            });
        }


        function deleteVariant(e, id) {
            // Deleting product variant
            let url = id
            e.preventDefault()
            swal({
                title: "Are you sure?",
                text: "Once deleted, you will not be able to recover",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            }).then((willDelete) => {
                if (willDelete) {
                    swal("Successfully deleted", {
                        icon: "success",
                    }).then(function () {
                        $.ajax({
                            type: 'POST',
                            url: url,
                            data: {
                                csrfmiddlewaretoken: csrftoken,
                            },
                            dataType: 'json',
                            success: function (data) {
                                if (data.message === "success") {
                                    window.location.replace("{% url 'admin-panel:products' %}");
                                }
                            }
                        })
                    })
                } else {
                    swal("Your imaginary file is safe!");
                }
            });
        }

    </script>
{% endblock %}