{% extends 'adminPanel/base.html' %}
{% load humanize %}
{% block report %} active {% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <!-- Sales -->
            <div class="col-12 mt-5">
                <div class="card mt-5">
                    <div class="card-body">
                        <h3 class="card-title">Sales</h3>
                        <div class="mb-4 mt-4">
                            <a href="{% url 'admin-panel:sales-csv' %}" class="btn btn-sm btn-outline-success">Export
                                as CSV</a>
                            <a href="{% url 'admin-panel:sales-pdf' %}" class="btn btn-sm btn-outline-danger">Export
                                as PDF</a>
                        </div>
                        <table class="table table-striped table-hover" id="sales">
                            <thead>
                            <tr>
                                <th scope="col">Sl.No</th>
                                <th scope="col">Brand</th>
                                <th scope="col">Product</th>
                                <th scope="col">Variant</th>
                                <th scope="col">Sold</th>
                                <th scope="col">Revenue</th>
                                <th scope="col">Profit</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for variant in variants %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ variant.product.brand.name }}</td>
                                    <td>{{ variant.product.name | capfirst }}</td>
                                    <td>{{ variant.get_variant }}</td>
                                    <td>{{ variant.sold_count | intcomma }}</td>
                                    <td>{{ variant.get_revenue | intcomma }}</td>
                                    <td>
                                        {% if  not variant.get_revenue == '0' %}
                                            {{ variant.get_profit | intcomma }}
                                        {% else %}
                                            0
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


            <!-- Orders -->
            <div class="col-12 mt-5">
                <div class="card mt-5">
                    <div class="card-body">
                        <h3 class="card-title">Orders</h3>
                        <form action="" method="get" class="mb-4">
                            <div class="form-row d-flex justify-content-around">
                                <div class="form-group col-6 col-md-3">
                                    <label>From</label>
                                    <input type="date" class="form-control" name="from">
                                </div>
                                <div class="form-group col-6 col-md-3">
                                    <label>To</label>
                                    <input type="date" class="form-control" name="to">
                                </div>
                                <div class="form-group col-6 col-md-3 mt-5">
                                    <input type="submit" class="btn  btn-outline-primary" value="Filter">
                                </div>
                            </div>
                        </form>
                        <div class="mb-4 px-10">
                            <a href="{% url 'admin-panel:order-products-csv' %}" class="btn btn-sm btn-outline-success">Export
                                as CSV</a>
                            <a href="{% url 'admin-panel:order-products-pdf' %}" class="btn btn-sm btn-outline-danger">Export
                                as PDF</a>
                        </div>
                        <table class="table table-striped table-hover" id="orders">
                            <thead>
                            <tr>
                                <th scope="col">Tracking Id</th>
                                <th scope="col">Customer Name</th>
                                <th scope="col">Product</th>
                                <th scope="col">Amount paid</th>
                                <th scope="col">Discount</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Order status</th>
                                <th scope="col">Date</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for order in order_products %}
                                <tr id="{{ order.id }}">
                                    <td>{{ order.tracking_id }}</td>
                                    <td>{{ order.user.first_name | capfirst }}</td>
                                    <td>{{ order.variant.product.name | capfirst }}</td>
                                    <td>{{ order.paid }}</td>
                                    <td>
                                        {% if order.discount %}
                                            <span class="offer"> {{ order.discount }}</span>
                                        {% else %}
                                            ---
                                        {% endif %}
                                    </td>
                                    <td>{{ order.quantity }}</td>
                                    <td>{{ order.status }}</td>
                                    <td>{{ order.updated_at | naturaltime }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


            <div class="col-12   mt-5">
                <div class="card mt-5">
                    <div class="card-body">
                        <h3 class="card-title">All Brands</h3>
                        <div class="mb-4 mt-4">
                            <a href="{% url 'admin-panel:brands-csv' %}" class="btn btn-sm btn-outline-success">Export
                                as CSV</a>
                            <a href="{% url 'admin-panel:brands-pdf' %}" class="btn btn-sm btn-outline-danger">Export
                                as PDF</a>
                        </div>
                        <table class="table table-striped table-hover" id="brands">
                            <thead>
                            <tr>
                                <th scope="col">No</th>
                                <th scope="col">Brand</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for brand in brands %}
                                <tr id="">
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ brand.name | capfirst }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- All products -->
            <div class="col-12  mt-5">
                <div class="card mt-5">
                    <div class="card-body">
                        <h3 class="card-title">All Products</h3>
                        <div class="mb-4 mt-4">
                            <a href="{% url 'admin-panel:products-csv' %}" class="btn btn-sm btn-outline-success">Export
                                as CSV</a>
                            <a href="{% url 'admin-panel:all-variants' %}" class="btn btn-sm btn-outline-danger">Export
                                as PDF</a>
                        </div>
                        <table class="table table-striped table-hover" id="products">
                            <thead>
                            <tr>
                                <th scope="col">No</th>
                                <th scope="col">Name</th>
                                <th scope="col">Brand</th>
                                <th scope="col">Variant</th>
                                <th scope="col">M.R.P</th>
                                <th scope="col">Stock</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for variant in variants %}
                                <tr id="">
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ variant.product.name | capfirst }}</td>
                                    <td>{{ variant.product.brand | capfirst }}</td>
                                    <td>{{ variant.get_variant }}</td>
                                    <td>{{ variant.mrp }}</td>
                                    <td>{{ variant.stock }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        // Data table
        $(document).ready(function () {
            $('#brands').DataTable({
                "ordering": false

            });

        });

        $(document).ready(function () {
            $('#products').DataTable({
                "ordering": false

            });
        });

        $(document).ready(function () {
            $('#orders').DataTable({
                "ordering": false

            });
        });

        $(document).ready(function () {
            $('#sales').DataTable({
                "ordering": false

            });
        });

        window.history.replaceState({}, document.title, "/" + "admin-panel/report/");
    </script>
{% endblock %}