{% extends 'base.html' %}
{% block title %}M3 | Change password {% endblock %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block content %}
    <section class="section-content padding-y bg">
        <div class="container">
            {% include 'includes/messages.html' %}
            <div class="row">
                <aside class="col-md-3">
                    <ul class="list-group">
                        <a class="list-group-item text-dark" href="{% url 'userProfile:dashboard' %}">Dashboard </a>
                        <a class="list-group-item text-dark" href="{% url 'userProfile:my-orders' %}">My Orders</a>
                        <a class="list-group-item text-dark" href="{% url 'userProfile:edit-profile' %}">Edit Profile</a>
                        <a class="list-group-item active" href="{% url 'userProfile:my-addresses' %}">My Addresses</a>
                        <a class="list-group-item text-dark" href="#">Wishlist</a>
                        <a class="list-group-item text-dark" href="#">Change Password</a>
                    </ul>
                    <br>
                    <a class="btn btn-light btn-block" href="#"> <i class="fa fa-power-off"></i> <span class="text">Log
							out</span> </a>
                </aside>

                <main class="col-md-9">
                    <div class="card mt-3">
                        <div class="card-header">
                            <strong> Change password </strong>
                        </div>
                        <div class="card-body">
                            <form action="" method="post">
                                {% csrf_token %}
                                {{ form | crispy }}
                                <div class="text-center">
                                    <input type="submit" class="btn btn-primary w-50" value="Change password">
                                </div>
                            </form>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </section>
{% endblock %}
