{% extends 'base.html' %}
{% block title %}M3 | Profile {% endblock %}
{% block content %}
    <section class="section-content padding-y bg">
        <div class="container">
            <div class="row">
                <aside class="col-md-3">
                    <ul class="list-group">
                        <a class="list-group-item active" href="#">Dashboard </a>
                        <a class="list-group-item text-dark" href="#">My Orders</a>
                        <a class="list-group-item text-dark" href="#">Edit Profile</a>
                        <a class="list-group-item text-dark" href="#">My Addresses</a>
                        <a class="list-group-item text-dark" href="#">Wishlist</a>
                        <a class="list-group-item text-dark" href="#">Change Password</a>
                    </ul>
                    <br>
                    <a class="btn btn-light btn-block" href="#"> <i class="fa fa-power-off"></i> <span class="text">Log
							out</span> </a>
                </aside>

                <main class="col-md-9">
                    <article class="card">
                        <header class="card-header">
                            <strong class="d-inline-block mr-3"></strong>
                            <span></span>
                        </header>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-8">
                                    <h6 class="text-muted"></h6>
                                    <p></p>
                                </div>
                                <div class="col-md-4"> </div>
                            </div>
                        </div>
                    </article>
                </main>
            </div>
        </div>
    </section>
{% endblock %}
