{% extends 'base.html' %}
{% block title %}M3 | Update profile {% endblock %}
{% load crispy_forms_filters %}
{% block content %}
    <section class="section-content padding-y bg">
        <div class="container">
            {% include 'includes/messages.html' %}
            <div class="row">
                <aside class="col-md-3">
                    <ul class="list-group">
                        <a class="list-group-item text-dark" href="{% url 'userProfile:dashboard' %}">Dashboard </a>
                        <a class="list-group-item text-dark" href="{% url 'userProfile:my-orders' %}">My Orders</a>
                        <a class="list-group-item active text-white" href="{% url 'userProfile:edit-profile' %}">Edit
                            Profile</a>
                        <a class="list-group-item text-dark" href="{% url 'userProfile:my-addresses' %}">My
                            Addresses</a>
                        {#                        <a class="list-group-item text-dark" href="{% url 'userProfile:change-password' %}">Wishlist</a>#}
                        <a class="list-group-item text-dark" href="#">Change Password</a>
                    </ul>
                    <br>
                    <a class="btn btn-light btn-block" href="#"> <i class="fa fa-power-off"></i> <span class="text">Log
							out</span> </a>
                </aside>

                <main class="col-md-9">
                    <div class="card mt-3">
                        <div class="card-header">
                            <strong> Edit profile </strong>
                        </div>
                        <div class="card-body">
                            <form action="" method="post" enctype="multipart/form-data" id="edit-user-profile">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-sm-6 form-group">
                                        {{ form.first_name | as_crispy_field }}
                                    </div>
                                    <div class="col-sm-6 form-group">
                                        {{ form.last_name | as_crispy_field }}
                                    </div>
                                    <div class="col-sm-6 form-group">
                                        {{ form.email | as_crispy_field }}
                                    </div>
                                    <div class="col-sm-6 form-group">
                                        {{ form.mobile | as_crispy_field }}
                                    </div>
                                    <div class="col-sm-12 form-group">
                                        {{ form.profile_picture | as_crispy_field }}
                                    </div>
                                </div>
                                <div class="text-center">
                                    <input type="submit" class="btn btn-primary w-50" value="Update profile">
                                </div>
                            </form>
                        </div>
                    </div>

                </main>
            </div>
        </div>
    </section>
{% endblock %}
{% block script %}
    <script>
        $(document).ready(function () {
            $("#edit-user-profile").validate({
                rules: {
                    first_name: {
                        required: true,
                    },
                    last_name: {
                        required: true,
                    },
                    email: {
                        required: true,
                        email: true
                    },
                    mobile: {
                        required: true,
                        maxlength: 10,
                        number: true,
                    }
                },
            })
        })
    </script>
{% endblock %}