{% extends 'base.html' %}
{% block title %}M3 | Profile {% endblock %}
{% block content %}
    <section class="section-content padding-y bg">
        <div class="container">
            <div class="row">
                <aside class="col-md-3">
                    <ul class="list-group">
                        <a class="list-group-item text-dark" href="{% url 'userProfile:dashboard' %}">Dashboard </a>
                        <a class="list-group-item text-dark" href="#">My Orders</a>
                        <a class="list-group-item text-dark" href="#">Edit Profile</a>
                        <a class="list-group-item active" href="{% url 'userProfile:my-addresses' %}">My Addresses</a>
                        <a class="list-group-item text-dark" href="#">Wishlist</a>
                        <a class="list-group-item text-dark" href="#">Change Password</a>
                    </ul>
                    <br>
                    <a class="btn btn-light btn-block" href="#"> <i class="fa fa-power-off"></i> <span class="text">Log
							out</span> </a>
                </aside>

                <main class="col-md-9">
                    <article class="card">
                        <header class="card-header">
                            <strong class="d-inline-block mr-3">My addresses</strong>
                            <span></span>
                        </header>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <figure class="itemside  mb-4 card">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="text-center align-items-center">
                                                    <h5 class="">Amjed Saleel K</h5>
                                                </div>
                                                <div>
                                                    <button class="btn btn-sm btn-outline-primary">Home</button>
                                                </div>
                                            </div>
                                            <p class="small-gray-text">9495836716</p>
                                            <p class="small-gray-text">Kajiramkatte house</p>
                                            <p class="small-gray-text">Madavoor post</p>
                                            <p class="small-gray-text">Calicut</p>
                                            <p class="small-gray-text">Kerala</p>
                                            <p class="small-gray-text">673585</p>
                                        </div>
                                    </figure>
                                </div>
                                <div class="col-md-6">
                                    <figure class="itemside  mb-4 card">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="text-center align-items-center">
                                                    <h5 class="">Amjed Saleel K</h5>
                                                </div>
                                                <div>
                                                    <button class="btn btn-sm btn-outline-primary">Home</button>
                                                </div>
                                            </div>
                                            <p class="small-gray-text">9495836716</p>
                                            <p class="small-gray-text">Kajiramkatte house</p>
                                            <p class="small-gray-text">Madavoor post</p>
                                            <p class="small-gray-text">Calicut</p>
                                            <p class="small-gray-text">Kerala</p>
                                            <p class="small-gray-text">673585</p>
                                        </div>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </article>

                    <div class="card mt-3">
                        <div class="card-header">
                            <strong> Add address </strong>
                        </div>
                        <div class="card-body">
                            <form action="" method="get">

                            </form>
                        </div>
                    </div>

                </main>
            </div>
        </div>
    </section>
{% endblock %}
