{% extends 'base.html' %}
{% block title %}M3 | Profile {% endblock %}
{% load crispy_forms_filters %}
{% block content %}
    <section class="section-content padding-y bg">
        <div class="container">
            {% include 'includes/messages.html' %}
            <div class="row">
                <aside class="col-md-3">
                    <ul class="list-group">
                        <a class="list-group-item text-dark" href="{% url 'userProfile:dashboard' %}">Dashboard </a>
                        <a class="list-group-item text-dark" href="{% url 'userProfile:my-orders' %}">My Orders</a>
                        <a class="list-group-item text-dark" href="{% url 'userProfile:edit-profile' %}">Edit Profile</a>
                        <a class="list-group-item active" href="{% url 'userProfile:my-addresses' %}">My Addresses</a>
{#                        <a class="list-group-item text-dark" href="#">Wishlist</a>#}
                        <a class="list-group-item text-dark" href="{% url 'userProfile:change-password' %}">Change Password</a>
                    </ul>
                    <br>
                    <a class="btn btn-light btn-block" href="#"> <i class="fa fa-power-off"></i> <span class="text">Log
							out</span> </a>
                </aside>

                <main class="col-md-9">
                    <article class="card">
                        <header class="card-header">
                            <strong class="d-inline-block mr-3">My addresses</strong>
                            <span></span>
                        </header>
                        <div class="card-body">
                            <div class="row">
                                {% for address in addresses %}
                                    <div class="col-md-6" id="{{ address.id }}">
                                        <figure class="itemside  mb-4 card">
                                            <div class="card-body">
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <div class="text-center align-items-center">
                                                        <h5 class="">{{ address.full_name }}</h5>
                                                    </div>
                                                    <div>
                                                        <button class="btn btn-sm btn-outline-primary">{{ address.type }}</button>
                                                    </div>
                                                </div>
                                                <p class="small-gray-text">{{ address.phone }}</p>
                                                <p class="small-gray-text">{{ address.house_no }}</p>
                                                <p class="small-gray-text">{{ address.area }}</p>
                                                <p class="small-gray-text">{{ address.town }}</p>
                                                <p class="small-gray-text">{{ address.state }}</p>
                                                <p class="small-gray-text">{{ address.pin }}</p>
                                                <hr>
                                                <div class="bottom d-flex justify-content-between">
                                                    {% if not address.default %}
                                                    <div>
                                                        <a href="{% url 'userProfile:set-default-address' address.id %}"
                                                           class="right small-gray-text d-flex justify-content-between">Set
                                                            as default</a>
                                                    </div>
                                                    {% else %}
                                                        <p class="small-gray-text">Default</p>
                                                    {% endif %}
                                                    <div class="left">
                                                        <p class="small-gray-text">
                                                            <a href="{% url 'userProfile:edit-address' address.id %}"
                                                               class="small-gray-text">Edit</a>
                                                            <span> |
                                                                <a href="" class="small-gray-text"
                                                                   onclick="deleteAddress(event, '{{ address.id }}')">Delete</a>
                                                            </span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </figure>
                                    </div>
                                {% empty %}
                                    <p>No, saved addresses</p>
                                {% endfor %}
                            </div>
                        </div>
                    </article>

                    <div class="card mt-3">
                        <div class="card-header">
                            <strong> Add address </strong>
                        </div>
                        <div class="card-body">
                            <form action="" method="post">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-sm-6 form-group">
                                        {{ form.full_name | as_crispy_field }}
                                    </div>
                                    <div class="col-sm-6 form-group">
                                        {{ form.phone | as_crispy_field }}
                                    </div>
                                    <div class="col-sm-12 form-group">
                                        {{ form.email | as_crispy_field }}
                                    </div>
                                    <div class="col-sm-6 form-group">
                                        {{ form.house_no | as_crispy_field }}
                                    </div>
                                    <div class="col-sm-6 form-group">
                                        {{ form.area | as_crispy_field }}
                                    </div>
                                    <div class="col-sm-12 form-group">
                                        {{ form.landmark | as_crispy_field }}
                                    </div>
                                    <div class="col-sm-6 form-group">
                                        {{ form.town | as_crispy_field }}
                                    </div>
                                    <div class="col-sm-6 form-group">
                                        {{ form.state | as_crispy_field }}
                                    </div>
                                    <div class="col-sm-6 form-group">
                                        {{ form.pin | as_crispy_field }}
                                    </div>
                                    <div class="col-sm-6 form-group">
                                        {{ form.type | as_crispy_field }}
                                    </div>
                                </div>
                                <div class="text-center">
                                    <input type="submit" class="btn btn-primary w-50" value="Add new Address">
                                </div>
                            </form>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </section>
{% endblock %}
{% block script %}
    <script>
        function deleteAddress(e, id) {
            e.preventDefault();
            let url = `/profile/delete-address/${id}/`
            Swal.fire({
                title: 'Are you sure?',
                text: "Do you want to delete this address",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    Swal.fire(
                        'Deleted!',
                        'Your address has been deleted.',
                        'success'
                    ).then(function () {
                        $.ajax({
                            type: 'POST',
                            url: url,
                            dataType: 'json',
                            data: {
                                csrfmiddlewaretoken: csrftoken,
                            },
                            success: function (data) {
                                if (data.message === 'success') {
                                    document.getElementById(id).style.display = 'none'
                                }
                            }
                        })
                    })
                }
            })
        }
    </script>
{% endblock %}