{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block title %} M3|Set new password {% endblock %}
{% block content %}
    <div class="card mx-auto" style="max-width: 380px; margin-top:100px;">
        <div class="card-body">
            <h4 class="card-title mb-4">Set new password</h4>
            <form method="post" action="" id="email-login">
                {% include 'includes/messages.html' %}
                {% csrf_token %}
                {{ form | crispy}}
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Rest password</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        $(document).ready(function () {
            $("#email-login").validate({
                rules: {
                    email: {
                        required: true,
                        email: true
                    },
                    password: {
                        required: true,
                    }
                },
            })
        })

        $(document).ready(function () {
            $("#mobile-login").validate({
                rules: {
                    number: {
                        required: true,
                        number: true
                    }
                },
            })
        })
    </script>
{% endblock %}