{% extends 'base.html' %}
{% block title %} M3 | Verify OTP {% endblock %}
{% block content %}
    <div class="card mx-auto" style="max-width: 380px; margin-top:100px;">
        <div class="card-body">
            <h4 class="card-title mb-4">Enter OTP</h4>
            <form method="post" action="" id="otp">
                {% include 'includes/messages.html' %}
                {% csrf_token %}
                {% if request.GET.variant %}
                    <input type="hidden" value="{{ request.GET.variant }}" name="variant_slug">
                {% endif %}
                <div class="form-group">
                    <label for="">OTP number</label>
                    <input type="number" class="form-control" placeholder="" name="otp">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Verify</button>
                </div>
            </form>

            <a href="#" id="resend" type="button"
               class="btn btn-outline-primary btn-block" onclick="resent_otp(event)">Resend otp</a>
            <div class="text-center mt-2">
                <p style="color: #BC7070;">Resend OTP in <span class="js-timeout">2:00</span>.</p>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        $(document).ready(function () {
            $("#otp").validate({
                rules: {
                    otp: {
                        required: true,
                        number: true
                    }
                },
            })
        })

        var interval;

        function countdown() {
            clearInterval(interval);
            interval = setInterval(function () {
                var timer = $('.js-timeout').html();
                timer = timer.split(':');
                var minutes = timer[0];
                var seconds = timer[1];
                seconds -= 1;
                if (minutes < 0) return;
                else if (seconds < 0 && minutes != 0) {
                    minutes -= 1;
                    seconds = 59;
                } else if (seconds < 10 && length.seconds != 2) seconds = '0' + seconds;

                $('.js-timeout').html(minutes + ':' + seconds);

                if (minutes == 0 && seconds == 0) clearInterval(interval);
            }, 1000);
        }

        $(document).ready(function () {
            $('.js-timeout').text("1:00");
            countdown();
            $("#resend").attr("disabled", "disabled");
            setTimeout(function () {
                $("#resend").removeAttr("disabled");
            }, 60000);
        });

        $('#js-resetTimer').click(function () {
            $('.js-timeout').text("1:00");
            clearInterval(interval);
        });

        function resent_otp(e) {
            $.ajax({
                url: "{% url 'accounts:resent-otp' %}",
                method: "POST",
                dataType: 'json',
                data: {
                    csrfmiddlewaretoken: csrftoken,
                },
                success: function (data) {
                    location.reload()
                }
            })
        }
    </script>
{% endblock %}