<aside class="col-md-3">
    <ul class="list-group">
        <a class="list-group-item text-dark" href="{% url 'userProfile:dashboard' %}">Dashboard </a>
        <a class="list-group-item text-dark" href="{% url 'userProfile:my-orders' %}">My Orders</a>
        <a class="list-group-item text-dark" href="#">Edit Profile</a>
        <a class="list-group-item active" href="{% url 'userProfile:my-addresses' %}">My Addresses</a>
        <a class="list-group-item text-dark" href="#">Wishlist</a>
        <a class="list-group-item text-dark" href="#">Change Password</a>
    </ul>
    <br>
    <a class="btn btn-light btn-block" href="#"> <i class="fa fa-power-off"></i> <span class="text">Log
							out</span> </a>
</aside>