{% extends 'base.html' %}
{% load static %}
{% block title %} M3 | Product detail {% endblock %}
{% block style %}
    <style>
        .variant {
            border: 1px solid #E0E0E0;
            border-radius: 2px;
            font-size: 14px;
            display: inline-block;
            margin-bottom: 4px;
            margin-top: 4px;
            color: black;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="card">
            <div class="row no-gutters">
                <aside class="col-md-6">
                    <article class="gallery-wrap">
                        <div class="img-big-wrap mainImage mt-4">
                            <a href="#"><img src="{{ variant.image1.url }}" class="example"/></a>
                        </div>

                    </article>

                    <ul class="thumb">
                        <li>
                            {% if variant.image1 %}
                                <a href="{{ variant.image1.url }}" target="mainImage"><img
                                        src="{{ variant.image1.url }}"
                                        alt="Product Image"></a>
                            {% endif %}

                            {% if variant.image2 %}
                                <a href="{{ variant.image2.url }}" target="mainImage"><img
                                        src="{{ variant.image2.url }}"
                                        alt="Product Image"></a>
                            {% endif %}
                            {% if variant.image3 %}
                                <a href="{{ variant.image3.url }}" target="mainImage"><img
                                        src="{{ variant.image3.url }}"
                                        alt="Product Image"></a>
                            {% endif %}
                        </li>
                    </ul>

                </aside>
                <main class="col-md-6 border-left">
                    <article class="content-body">

                        <h2 class="title">{{ variant.product.name | capfirst }}</h2>

                        <div class="mb-3">
                            <div class="d-flex justify-content-start align-items-center">
                                <div>
                                    <p class="price regular-text-bold">₹{{ variant.get_price.price }}</p>
                                </div>
                                <div>
                                    <p class="original-price small-gray-text ml-4">
                                        {% if not variant.mrp == variant.get_price.price %}
                                            <del> ₹{{ variant.mrp }} </del>
                                        {% endif %}
                                    </p>
                                </div>
                                <div>
                                    <p class="offer small-gray-text ml-4">
                                        {% if variant.get_price.discount %}
                                            {{ variant.get_price.discount }}% off
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        </div>

                        <p>{{ variant.description }}</p>
                        <hr>
                        <div class="row col-12">
                            {% for i in suggestions %}
                                <a href="{% url 'store:products-details' i.product.brand.slug i.slug %}"
                                   class="col-12 col-md-6 p-2 text-center" style="text-decoration: none">
                                    <p class="p-1 variant">{{ i.ram }} RAM, {{ i.storage }}GB
                                        Storage</p>
                                </a>
                            {% endfor %}
                        </div>
                        <hr>
                        <div class="d-flex pl-3 pr-3 justify-content-start mb-4">
                            <a href="#" class="btn btn-outline-primary"
                               onclick="addToCart(event, '{% url 'cart:add-to-cart' variant.slug %}')">Add to cart</a>
                            <a href="#" class="btn btn-primary ml-2">Buy now</a>
                        </div>
                    </article>
                </main>
            </div>
        </div>
        {#        {% if suggestions %}#}
        {#            <h4 class="mt-5">Suggestions</h4>#}
        {#            <div class="row mt-5">#}
        {#                {% for i in suggestions %}#}
        {#                    <div class="col-12 col-md-6 col-lg-4">#}
        {#                        <div class="card card-product-grid">#}
        {#                            <a href="{% url 'store:products-details' i.product.brand.slug i.slug %}"#}
        {#                               class="img-wrap mt-4 mb-4"> <img src="{{ i.image1.url }}" alt=""/>#}
        {#                            </a>#}
        {#                            <hr>#}
        {#                            <h5 class="pl-3">{{ i.product.name | capfirst }}</h5>#}
        {#                            <h6 class="pl-3 small-gray-text">#}
        {#                                ({{ i.ram }}, {{ i.storage }}, {{ i.color }})#}
        {#                            </h6>#}
        {#                            <div class="d-flex pl-3 pr-3 justify-content-between align-items-center mb-4">#}
        {#                                <p class="price regular-text-bold">₹{{ i.price }}</p>#}
        {#                                <p class="original-price small-gray-text">#}
        {#                                    <del>25999</del>#}
        {#                                </p>#}
        {#                                <p class="offer small-gray-text">10% off</p>#}
        {#                            </div>#}
        {#                            <div class="d-flex pl-3 pr-3 justify-content-between mb-4">#}
        {#                                <a href="" class="btn btn-outline-primary"#}
        {#                                   onclick="addToCart(event, '{% url 'cart:add-to-cart' i.slug %}')">Add to#}
        {#                                    cart</a>#}
        {#                                <a href="#" class="btn btn-primary">Buy now</a>#}
        {#                            </div>#}
        {#                        </div>#}
        {#                    </div>#}
        {#                {% endfor %}#}
        {#            </div>#}
        {#        {% endif %}#}
    </div>
{% endblock %}
{% block script %}
    <script src="{% static 'js/zoomsl.min.js' %}"></script>

    <script>
        $(document).ready(function () {
            $('.thumb a').click(function (e) {
                e.preventDefault();
                $('.mainImage img').attr('src', $(this).attr("href"));
            })
        })

        $(function () {

            $(".example").imagezoomsl({
                zoomrange: [2, 2],
                scrollspeedanimate: 5,
                zoomspeedanimate: 7,
                loopspeedanimate: 2.5,
                magnifierspeedanimate: 350
            });

        });
    </script>
{% endblock %}