{% extends 'base.html' %}
{% block title %} M3|Store {% endblock %}
{% block content %}
    <section class="section-content padding-y">
        <div class="container-fluid">

            <div class="row">
                <aside class="col-md-2">

                    <div class="card">

                        <!-- Brands filter -->
                        <article class="filter-group">
                            <header class="card-header">
                                <a href="#" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true"
                                   class="">
                                    <i class="icon-control fa fa-chevron-down text-primary"></i>
                                    <h6 class="title text-primary">Brands</h6>
                                </a>
                            </header>
                            <div class="filter-content collapse show" id="collapse_1" style="">
                                <div class="card-body">
                                    <ul class="list-menu">
                                        {% for brand in brands %}
                                            <li><a href="{% url 'store:brand-wise' brand.slug %}"> {{ brand.name }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </article>
                    </div>
                </aside> <!-- col.// -->

                <main class="col-md-10">
                    <header class="border-bottom mb-4 pb-3">
                        <div class="form-inline">
                            <span class="mr-md-auto">{{ variants_count }} Items found </span>
                        </div>
                    </header><!-- sect-heading -->

                    <div class="row">
                        {% for variant in variants %}
                            <div class="col-12 col-md-5 col-lg-4 col-xl-3 d-flex justify-content-center">
                                <div class="card card-product-grid">
                                    <a href="{% url 'store:products-details' variant.product.brand.slug variant.slug %}"
                                       class="img-wrap mt-4 mb-4"> <img src="{{ variant.image1.url }}"
                                                                        alt=""/>
                                    </a>
                                    <hr>
                                    <h5 class="pl-3">{{ variant.product | capfirst }}</h5>
                                    <h6 class="pl-3 small-gray-text">
                                        ({{ variant.ram }}, {{ variant.storage }}, {{ variant.color }})
                                    </h6>
                                    <div class="d-flex pl-3 pr-3 justify-content-between align-items-center mb-4">
                                        <p class="price regular-text-bold">₹{{ variant.get_price.price }}</p>
                                        <p class="original-price small-gray-text">
                                            <del>
                                                {% if not variant.mrp == variant.get_price.price %}
                                                    ₹{{ variant.mrp }}
                                                {% endif %}
                                            </del>
                                        </p>
                                        <p class="offer small-gray-text">
                                            {% if variant.get_price.discount %}
                                                {{ variant.get_price.discount }}% off
                                            {% endif %}
                                        </p>
                                    </div>
                                    <div class="d-flex pl-3 pr-3 justify-content-between mb-4">
                                        <a href="#" class="btn btn-outline-primary"
                                           onclick="addToCart(event, '{% url 'cart:add-to-cart' variant.slug %}')">Add
                                            to cart</a>
                                        <a href="{% url 'cart:buy-now-checkout' %}" class="btn btn-primary">Buy now</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>


                    {#<nav class="mt-4" aria-label="Page navigation sample">#}
                    {#  <ul class="pagination">#}
                    {#    <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>#}
                    {#    <li class="page-item active"><a class="page-link" href="#">1</a></li>#}
                    {#    <li class="page-item"><a class="page-link" href="#">2</a></li>#}
                    {#    <li class="page-item"><a class="page-link" href="#">3</a></li>#}
                    {#    <li class="page-item"><a class="page-link" href="#">Next</a></li>#}
                    {#  </ul>#}
                    {#</nav>#}

                </main> <!-- col.// -->

            </div>

        </div> <!-- container .//  -->
    </section>
{% endblock %}